<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omok.backend.domain.user.mapper.StoneMapper">

    <insert id="insertStone">
        insert into play values(seq_playid.nextval, #{stoneX}, #{stoneY}, #{stoneColor})
    </insert>
    
    <select id="selectGround" resultType="com.omok.backend.domain.user.model.StoneRequest">
        select * from play
    </select>

</mapper>